table, th, td{
    border: 1px solid black;
    border-collapse: collapse; /* BORDE COLAPSADO*/
    /* border-spacing: 1px; BORDE CON ESPACIO */
    padding: 5px;
}
table{
    width: 100%;
}
caption{
    color:#e63946;
    font-family: 'Trocchi', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 45px;
    line-height: 70px;
}
th{
    color: #f1faee;
    background-color: #1d3557;
}
td{
    text-align: center;
}
/*RENGLOENES PARES ES CON "EVEN"=PAR - "ODD"=IMPAR*/
tr:nth-child(even){
    background-color: #d3d3c8;    
}
tr:nth-child(odd){
    background-color: #a8dadc;    
}

/*Buscar una fuente de google*/